@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: Eyes;
  src: url(../font/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: G;
  src: url(../font/Nova.otf);
}

body{
      overflow: hidden;
      user-select: none;
      align-items: center;
      justify-content: center;
  }

  ::-webkit-scrollbar {
      display: none;
      visibility: hidden;
      opacity: 0
  }

  #app{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
  }

  .hud{
    > logo {
        position: absolute;
        width: 7rem;
        height: 7rem;
        right: 4rem;
        top: 1rem;
        margin: auto auto;
        background-image: url('../img/logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    > online {
        position: absolute;
        width: 1.1rem;
        height: 1.2rem;
        right: 27.4rem;
        top: 2.5rem;
        margin: auto auto;
        background-image: url('../img/o-icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    > h1 {
        position: absolute;
        width: 2.063rem;
        height: 2.063rem;        
        font-family: 'Eyes';
        left: 1.2rem;
        top: -0.5rem;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1rem;
        text-align: center;
        color: #FFFFFF;
      }
    > h2 {
        position: absolute;
        width: 2.063rem;
        height: 2.063rem;        
        font-family: 'Eyes';
        left: 1.2rem;
        top: 0.5rem;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 0.7rem;
        line-height: 1rem;
        text-align: right;
        color:gray;
      }
    }
    > date {
        position: absolute;
        width: 1rem;
        height: 1rem;
        right: 21rem;
        top: 2.65rem;
        margin: auto auto;
        background-image: url('../img/date.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    > h1 {
        position: absolute;
        width: 2.063rem;
        height: 2.063rem;        
        font-family: 'Eyes';
        left: 1.7rem;
        top: -0.65rem;
        text-align: center;
        font-style: normal;
        font-weight: 100;
        font-size: 0.875rem;
        line-height: 1rem;
        text-align: right;
        color: #FFFFFF;
    }
    > h2 {
        position: absolute;
        width: 4.063rem;
        height: 2.063rem;        
        font-family: 'Eyes';
        left: 1.2rem;
        top: 0.4rem;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 0.7rem;
        line-height: 1rem;
        text-align: right;
        color:gray;
    }
  }
  > player{
      position: absolute;
      width: 4.063rem;
      height: 1.875rem;
      right: 12rem;
      top: 2.5rem;
      margin: auto auto;
      background-image: url('../img/p-border.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    > id {
      position: absolute;
      width: 2.063rem;
      height: 2.063rem;        
      font-family: 'Eyes';
      left: 0.85rem;
      top: 0.44rem;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 0.85rem;
      line-height: 1rem;
      text-align: right;
      color: #FFFFFF;
    }
  }
  > cash {
    position: absolute;
    width: 1.02rem;
    height: 1rem;
    right: 27.5rem;
    top: 5.5rem;
    margin: auto auto;
    background-image: url('../img/cash.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    > h1 {
      position: absolute;
      width: 5.625rem;
      height: 1rem;    
      left: 1.5rem;
      top: -1.9rem;
      font-family: 'G';
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 3.813rem;
      color: white;
      letter-spacing: 0.03em;
    }
  }

  > bank {
    position: absolute;
    width: 1.02rem;
    height: 1rem;
    right: 21rem;
    top: 5.54rem;
    margin: auto auto;
    background-image: url('../img/bank.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    > h1 {
      position: absolute;
      width: 5.625rem;
      height: 1rem;    
      left: 1.5rem;
      top: -1.95rem;
      font-family: 'G';
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 3.813rem;
      color: white;
      letter-spacing: 0.03em;
    }
  }
  }

  @keyframes focus-in-contract {
  0%{
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100%{
    filter: blur(0);
    opacity: 1;
  }
  }

  .help{
    position: absolute;
    > .border {
      position: relative;
      margin-bottom: 1rem;
      animation-name: focus-in-contract;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      width: 2.5rem;
      height: 2.5rem;
      left: 101.875rem;
      top: 13.938rem;
      background: rgba(255, 0, 0, 0.623);
      border-radius: 9px;
    > keybinds {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      left: 3.5rem;
      background: rgba(84, 122, 255, 0.65);
      border-radius: 9px;
      > h1 {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0.15rem;
        left: 0.8rem;
        text-align: center;        
        font-family: 'Eyes';
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1rem;
        text-align: center;
        
        color: #FFFFFF;
      }
    }

    > icon {
      position: absolute;
      left: 0.8rem;
      top: 0.5rem;
      width: 0.938rem;
      height: 1.313rem;
      background-image: url('../img/microphone.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    } 


    > border {
      position: absolute;
      width: 10.063rem;
      height: 2.688rem;
      left: 7rem;
      background: rgba(0, 0, 0, 0.753);
      border-radius: 9px;
      > h1 {
        position: absolute;
        width: 9.563rem;
        height: 0.75rem;
        font-family: 'Eyes';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.063rem;
        text-align: center;
        color: #FFFFFF;
      }
    }
    }
  }

    html {
  font-size: 16.0px;
}


@media screen and (width: 4096px) and (height: 2160px) {
  html {
    font-size: 34px;
  }
}

@media screen and (width: 2560px) and (height: 1440px) {
  html {
    font-size: 21px;
  }
}

@media screen and (width: 1920px) and (height: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width: 1920px) and (height: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width: 1920px) and (height: 1440px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width: 1600px) and (height: 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (width: 1440px) and (height: 900px) {
  html {
    font-size: 12px;
  }
}

@media screen and (width: 1680px) and (height: 1050px) {
  html {
    font-size: 14.0px;
  }
}

@media screen and (width: 1600px) and (height: 900px) {
  html {
    font-size: 13.5px;
  }
}

@media screen and (width: 1768px) and (height: 992px) {
  html {
    font-size: 15px;
  }
}
@media screen and (width: 1366px) and (height: 768px) {
  html {
    font-size: 11.4px;
  }
}
@media screen and (width: 1280px) and (height: 1024px) {
  html {
    font-size: 11.7px;
  }
}
@media screen and (width: 1280px) and (height: 720px) {
  html {
    font-size: 11px;
  }
}
@media screen and (width: 1024px) and (height: 768px) {
  html {
    font-size: 10.05px;
  }
}
@media screen and (width: 832px) and (height: 624px) {
  html {
    font-size: 8.05px;
  }
}

@media screen and (width: 800px) and (height: 600px) {
  html {
    font-size: 8px;
  }
}